.wrapper {
  border: 1px solid lightgray;
  background-color: #a7f3ce;
  background-image: linear-gradient(62deg, #a7f3ce 0%, #f1e7f9 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #666;
  display: flex;
  margin-left: 5px;
  text-align: center;
  padding: 14px 16px;
  float: right;

  &:hover {
    background-color: lightgray;
  }
}

.head {
  font-family: 'Square Peg', cursive;
  margin-left: 15px;
  font-size: 17px;
  color: #413f3f;
}

.isActive {
  background-color: #a7f3ce;
  &:hover {
    background-color: #a7f3ce;
  }
}