.wrapper {
  display: flex;
}

.h2 {
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.h3 {
  text-transform: uppercase;
  padding: 17px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

.card {
  border-radius: 5%;
  margin-left: 20px;
  width: 30%;
  background-color: #a7f3ce;
  border: 1px solid lightgray;
}

.buttons {
  margin-left: 5%;
}